* {
    font-family: Open Sans;
    margin: 0;
    color: #191919;
}

h1 {
    font-size: 32px;
    color: #191919;
    margin-top: 26px;
    margin-bottom: 26px;
}

h4 {
    margin-bottom: 26px;
}

h5 {
    margin-top: 14px;
    margin-bottom: 10px;
}

#heading-1 {
    height: 74px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bat-logo {
    width: 176px;
    margin-left: 94px;
    margin-right: 100px;
}

#search-bar {
    display: flex;
    width: 840px;
    height: 42px;
    margin-right: 40px;
    border-radius: 4px;
    border: none;

}

#search-bar::placeholder {
    padding-left: 15px;
    font-size: 14px;
}

#heading-1 a {
    color: white;
    font-size: 14px;
}

#nested-section {
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

#heading-2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 42px;
    align-items: center;
    margin-bottom: 14px;
}

#heading-2 a {
    margin-right: 4px;
    font-size: 14px;
}

#heading-2 a:hover {
    color: #D80000;
}

#heading-3 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 243, 182);
    width: 890px;
    height: 68px;
    padding-left: 50px;
    align-content: center;
    border-radius: 12px;
    box-shadow: 1px 1px 20px 1px #f0f0f0;
}

#page-size {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#main-photo {
    width: 100%;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 14px;
}

#page-grid-1 {
    display: grid;
    grid-template-columns: 640px 1fr;
}

#bid-flex-box {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
}

#bid-flex-box p {
    font-size: 14px;
}

#currentBid-div, #endsIn-div {
    border-right: #a8a8a8 1px solid;
    margin-right: 18px;
    padding-right: 18px;
}

#comments-div {
    margin-right: 178px;
    cursor: pointer;
}

#how-it-work-button, #watch-button {
    font-size: 14px;
    padding: 8px 12px;
    margin-right: 16px;
    border-width: 1px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

#place-bid-button {
    font-size: 14px;
    padding: 8px 12px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #191919;
    color: white;
    cursor: pointer;
}

#star-svg {
    width: 18px;
    vertical-align: top;
    margin-right: 6px;
}

.make-red {
    color: #D80000;
}

.comment-icon {
    vertical-align: middle;
    padding-right: 8px;
}

#count-down {
    font-weight: bold;
    color: #D80000;
}

#make-model-era-flexbox {
    display: flex;
    margin-bottom: 28px;
}

.make-model-era-buttons {
    background-color: white;
    border-color: rgba(128, 128, 128, 0.25);
    font-size: 12px;
    padding: 8px 14px;
    margin-right: 10px;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #f0f0f0;
}

.make-model-era-buttons:hover {
    box-shadow: 4px 4px 10px 1px #f0f0f0;
}

#page-grid-1 p {
    font-size: 16px;
    color: #191919;
    line-height: 28px;
    padding: 0 10px 0 0;
    margin-bottom: 14px;
}

a {
    text-decoration: none;
}

.secondary-photo {
    border-radius: 4px;
}

#bat-essentials {
    padding: 20px;
    border-radius: 8px;
    background-color: #F8F8F8;
    
}

li {
    padding-bottom: 2px;
}

.black-text-plain, ul {
    font-size: 12px;
    color: #191919;
    font-weight: normal;
}

.red-text-plain {
    font-size: 12px;
    color: #D80000;
    font-weight: normal;
}

#views-watchers-info {
    display: flex;
    margin-top: 14px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

#views-watchers-info #views {
    font-size: 12px;
    border-right: #e1e1e1 1px solid;
    margin-right: 10px;
    
}

#views-watchers-info #watchers {
    font-size: 12px;
    margin-right: 10px;
    border-right: #e1e1e1 1px solid;
}

#views-watchers-info #share {
    font-size: 12px;
    color: #D80000;
}

#views-watchers-info #share-icon {
    width: 30px;
    margin-bottom: 12px;
    margin-left: -10px;
}

.line {
    border-bottom: #e1e1e1 1px solid;
}

#history-count {
    font-size: 14px;
    font-weight: 600;
}

#info-grid-right #email-me {
    color:#D80000;
    font-size: 12px;

}


